<div id="Biryani" class="tab-pane fade">
	<img src="~/Images/biryani.jpg" alt="cashew biryani" class="col-xs-4 rcorners1" />

	<div class="col-xs-6">
		<p class="section">Biryanis & Rice Dishes</p>
		<p class="subsect">(All Biryanis served with Raita)</p>
		<dl class="no-bullets">
			<dt><b>Vegetable Biryani</b><span class="price">$10.95</span></dt>
			<dd>Mixed vegetable cooked in mild spices and nuts with aromatic basmati rice</dd>
			<dt><b>Chicken Biryani</b><span class="price">$11.95</span></dt>
			<dd>Aromatic basmati rice cooked in a special mix of mild spices and nuts</dd>
			<dt><b>Lamb Biryani</b><span class="price">$12.95</span></dt>
			<dd>Aromatic basmati rice cooked in a special mix of mild spices and nuts</dd>
			<dt><b>Shrimp Biryani</b><span class="price">$14.95</span></dt>
			<dd>Aromatic basmati rice cooked in a special mix of mild spices and nuts</dd>
			<dt><b>House Special Biryani</b><span class="price">$17.95</span></dt>
			<dd>Aromatic basmati rice cooked with shrimp, lamb, chicken, vegetables and nuts</dd>
			<dt><b>Peas Pulow</b><span class="price">$7.95</span></dt>
			<dd>Basmati rice sauteed with green peas, nuts and raisins</dd>
			<dt><b>Sadani Pulow</b><span class="price">$9.95</span></dt>
			<dd>Basmati rice sauteed with eggs, nuts and raisins</dd>
			<dt><b>Plain Basmati Rice</b><span class="price">$2.95</span></dt>
		</dl>
	</div>
</div>