<div id="Home" class="tab-pane fade in active">

	<h2 class="centeredText">Feed your Inner Raj!<img src="~/Images/storeFrontSignElliptical.png" alt="Taste of India sign" /> </h2>
	<p>Come taste authentic Indian cuisine in the heart of Staunton, Virginia. You will find food fit for a Raj or Rani (King or Queen) served with gracious care and friendly hospitality. A Taste of India is owned by a family of chefs who take great joy in bringing the subtle spices and delicious variety of their homeland to the Shenandoah Valley. Come in today for a warm welcome and a meal fit for a Raj!</p>
	<div class="row">
		<img src="~/Images/AltarAtEntrance.png" alt="Kali" class="img-circle col-xs-offset-3" />
	</div>

	<h3 class="centeredText">Location and Hours</h3>

	<div id="Location" class="row">

		<div class="col-xs-6">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3137.6044754732174!2d-79.073949!3d38.149389!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b4a084eb3bdb79%3A0x16b428e8c34f6e78!2s105+W+Beverley+St%2C+Staunton%2C+VA+24401!5e0!3m2!1sen!2sus!4v1459613591796" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		<div class="col-xs-6">

			<table id="hoursTable" class="centerText">
				<tr><td colspan="2"><h3>Hours</h3></td></tr>

				<tr>
					<td class="weekday">Monday-Thursday</td>
					<td class="text-center">11AM–2:30PM, 5–9PM</td>
				</tr>
				<tr>
					<td class="weekday">Friday-Sunday</td>
					<td class="text-center">11AM–2:30PM, 5–9:30PM</td>
				</tr>
			</table>
		</div>
	</div>
</div>