<div id="Home" class="tab-pane fade in active">

	<h2 class="centeredText">Welcome to <img src="~/Images/storeFrontSignElliptical.png" alt="Taste of India sign" /> </h2>
	<p>Come taste authentic Indian cuisine in the heart of Staunton, Virginia.</p><p>A Taste of India is owned by a family of chefs who take great joy in bringing the subtle spices and delicious variety of their homeland to the Shenandoah Valley.</p><p>Come in for a warm welcome and a meal fit for a Raj!</p>
	<h3 class="centeredText">Location and Hours</h3>
	<h4>

		Location
	</h4>

	<div id="Location">
		<div>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1568.8021989325055!2d-79.07504274177884!3d38.149390804220936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b4a084eb3bdb79%3A0x16b428e8c34f6e78!2s105+W+Beverley+St%2C+Staunton%2C+VA+24401!5e0!3m2!1sen!2sus!4v1454892406654" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>
