<div id="Lamb" class="tab-pane fade">
	<img src="~/Images/lamb.png" alt="lamb vindaloo" class="col-xs-4 rcorners1" />

	<div class="col-xs-6">
		<p class="section">Lamb Dishes</p>
		<p class="subsect">(All entrees are served with saffron basmati rice)</p>
		<dl class="no-bullets">
			<dt><b>Lamb Curry</b><span class="price"></span></dt>
			<dd>Tender morsels of lamb served in a robust curry of tomatoes, ginger, onions and spices</dd>
			<dt><b>Lamb Saag</b><span class="price">$12.95</span></dt>
			<dd>Tender cubes of lamb cooked with spinach</dd>
			<dt><b>Lamb Jalfrezi</b><span class="price">$12.95</span></dt>
			<dd>Tender cubes of lamb and freshly ground herbs and spices sauteed with cauliflower, tomatoes, onion and green peppers</dd>
			<dt><b>Lamb Korma</b><span class="price">$12.95</span></dt>
			<dd>Lamb cubes cooked in a mild rich sauce, cashews and cream</dd>
			<dt><b>Lamb Boti Kebab Masala</b><span class="price">$13.95</span></dt>
			<dd>A northern delicacy! Juicy pieces of lamb marinated overnight and then simmered in light sauce yogurt, onion and mild spices</dd>
			<dt><b>Lamb Pasanda</b><span class="price">$13.95</span></dt>
			<dd>Lamb cubes cooked with light creamy sauce, herbs, spices and cashew nuts</dd>
			<dt><b>Lamb Patia</b><span class="price">$12.95</span></dt>
			<dd>Mildly spiced lamb cooked in mango, tomatoes, touch of sugar, lemon juice, herbs and spices</dd>
			<dt><b>Lamb Vindaloo</b><span class="price">$12.95</span></dt>
			<dd>Very hot and spiced lamb cooked with potatoes and a touch of vinegar</dd>
			<dt><b>Rogan Josh</b><span class="price">$12.95</span></dt>
			<dd>Lamb Cubes cooked with tomatoes in freshly ground spices and yogurt sauce</dd>
			<dt><b>Lamb Mushroom</b><span class="price">$12.95</span></dt>
			<dd>A Lamb delicacy in a mild brown sauce with mushrooms</dd>
		</dl>
	</div>
</div>