<div id="Tandoori" class="tab-pane fade">
	<img src="~/Images/tandoori.png" class="col-xs-4 rcorners1" />

	<div class="col-xs-6" />
	<p class="section">Kebab (Tandoori) Dishes</p>
	<dl class="no-bullets">
		<dt><b>Boti Kebab</b> <span class="price">$14.95</span></dt>
		<dd>Cubes of lamb flavored with ginger and garlic cooked in the tandoor</dd>
		<dt><b>Chicken Tandoori</b><span class="price">$14.95</span></dt>
		<dd>An Indian Favorite! marinated overnight in yogurt and freshly ground spices, broiled in the tandoor</dd>
		<dt><b>Chicken Tikka</b><span class="price">$12.95</span></dt>
		<dd>Boneless chunks of chicken delicately flavored and broiled in the Tandoor</dd>
		<dt><b>Fish Tandoori</b><span class="price">$15.95</span></dt>
		<dd>Fresh Salmon delicately flavored and marinated in yogurt and baked on skewers in the tandoor oven</dd>
		<dt><b>Seekh Kebab</b><span class="price">$13.95</span></dt>
		<dd>Lamb minced meat seasoned with herbs and spices grilled on skewers</dd>
		<dt><b>Shrimp Tandoori</b><span class="price">$16.95</span></dt>
		<dd>Jumbo Shrimp delicately spiced and marinated in yogurt and baked on skewers in the tandoor oven</dd>
		<dt><b>Tandoori Mixed Grill</b><span class="price">$17.95</span></dt>
		<dd>A platter of assorted tandoori delicacies: Chicken Tikka, Seekh Kebab, Boti Kebab, Shrimp Tandoori and Chicken Tandoori</dd>
		<dt><b>Reshmi Kebab</b><span class="price">$13.95</span></dt>
		<dd>Very tender pieces of chicken marinated in Indian spices with light creamy sauce</dd>
		<dt><b>Mixed Vegetable Grill</b><span class="price">$12.95</span></dt>
		<dd>Mixed vegetables marinated in ginger, garlic and Indian spices</dd>
	</dl>
</div>