@{
    Page.Title = "Thali";
    Layout = "_SiteLayout.cshtml";
}

<div id="Thali" class="tab-pane fade">
	<img src="~/Images/vegthali.png" alt="vegetarian Thali dinner" class="col-xs-4 rcorners1" />
	<div class="col-xs-6">
		<h3>Thali Dishes</h3>

		<p class="subsect">(Combination Dinner)</p>
		<dl class="no-bullets">
			<dt><b>Vegetarian Thali (Dine in Only)</b><span class="price">$15.95</span></dt>
			<dd>Served with dal, saag paneer, vegetable korma, rice, naan and rice pudding</dd>

			<dt><b>Non Vegetarian Thali (Dine in Only)</b><span class="price">$17.95</span></dt>
			<dd>Served with tandoori chicken, lamb curry, dal, rice, naan, raita, and rice pudding</dd>
		</dl>
	</div>
</div>