<div id="ChefSpecials" class="tab-pane fade">
	<img src="~/Images/general.jpg" alt="diners at Taste of India" class="col-xs-4 rcorners1" />
	<div class="col-xs-6">
		<h3>Chef's Specials</h3>
		<dl class="no-bullets">
			<dt><b>Chicken Madras</b><span class="price">$13.95</span></dt>
			<dd>Boneless pieces of chicken cooked in a special chili sauce with blended spices and coconut</dd>
			<dt><b>Karahi Chicken</b><span class="price">$13.95</span></dt>
			<dd>Boneless chicken cooked with fresh onions, tomatoes, green peppers and other special Indian spices</dd>
			<dt><b>Chicken Chili</b><span class="price">$13.95</span></dt>
			<dd>Boneless chicken cooked with fresh diced onions, tomatoes, green pepper, green chili in soya sauce, Worcester sauce, ketchup and other special Indian spices</dd>
			<dt><b>Lamb Madras</b><span class="price">$14.95</span></dt>
			<dd>Boneless pieces of lamb cooked in a special chili sauce with blended spices and coconut</dd>
			<dt><b>Karahi Lamb</b><span class="price">$14.95</span></dt>
			<dd>Lamb cubes cooked with fresh tomatoes, onions, green peppers and special Indian spices</dd>
			<dt><b>Karahi Paneer</b><span class="price">$12.95</span></dt>
			<dd>Homemade cheese cooked in our special Indian style, spiced and sauteed with fresh tomato, onion and green pepper</dd>
			<dt><b>Shrimp Madras</b><span class="price">$16.95</span></dt>
			<dd>Shrimp cooked in a special chili sauce with blended spices and coconut</dd>
			<dt><b>Karahi Shrimp</b><span class="price">$16.95</span></dt>
			<dd>Shrimp cooked with fresh tomato, onions, green peppers and special Indian sauce</dd>
			<dt><b>Paneer Chili</b><span class="price">$13.95</span></dt>
			<dd>Homemade cheese cooked with fresh diced onions, tomatoes, green pepper, green chili in soya sauce, Worcester sauce, ketchup and other Indian spices</dd>
			<dt><b>Paneer Tikka Masala</b><span class="price">$12.95</span></dt>
			<dd>Homemade cheese cooked in tomatoes and cream sauce with fresh ginger and garlic</dd>
			<dt><b>Mango Chicken</b><span class="price">$12.95</span></dt>
			<dd>Boneless Chicken with fresh cooked onion, green pepper, tomatoes and herbs</dd>
			<dt><b>Mango Lamb</b><span class="price">$13.95</span></dt>
			<dd>Boneless lamb sauteed with fresh onion, green pepper, tomato and herbs</dd>
		</dl>
	</div>
</div>