<div id="Desserts" class="tab-pane fade">
	<img src="~/Images/chocolate kulfi.jpg" class="col-xs-4 rcorners1" />
	<div class="col-xs-6">
		<dl class="no-bullets">
			<dt><b>Gulab Jamun</b><span class="price">$2.95</span></dt>
			<dd>Cheese ball dipped in syrup</dd>
			<dt><b>Kheer</b><span class="price">$2.95</span></dt>
			<dd>A famous Indian sweet made from milk, rice, dry fruits, flavored with cardamom and blended with raisins</dd>
			<dt><b>Ras Malai</b><span class="price">$3.95</span></dt>
			<dd>Homemade cream cheese patties served in a sweet cream sauce flavored with cardamom and garnished with pistachios</dd>
			<dt><b>Mango Ice Cream</b><span class="price">$3.95</span></dt>
			<dt><b>Pistachio Ice Cream</b><span class="price">$3.95</span></dt>
		</dl>
	</div>
</div>