<div id="Seafood" class="tab-pane fade">
	<img src="~/Images/closeUpPlaceSetting.JPG" alt="place setting" class="col-xs-4 rcorners1" />
	<div class="col-xs-6">

		<p class="section">Seafood Dishes</p>
		<p class="subsect">(All entrees are served with saffron basmati rice)</p>
		<dl class="no-bullets">
			<dt><b>Fish Curry</b><span class="price">$13.95</span></dt>
			<dd>Fresh Salmon cooked in Kerala style sauce with coconut</dd>
			<dt><b>Fish Vindaloo</b><span class="price">$14.95</span></dt>
			<dd>Very hot-spiced Salmon cooked with potatoes and a touch of vinegar</dd>
			<dt><b>Fish Tikka Masala</b><span class="price">$15.95</span></dt>
			<dd>Boneless pieces of Salmon cooked with very mild tomato and cream sauce</dd>
			<dt><b>Shrimp Curry</b><span class="price">$14.95</span></dt>
			<dd>Shrimp cooked with onions and fresh tomatoes</dd>
			<dt><b>Shrimp Vindaloo</b><span class="price">$15.95</span></dt>
			<dd>Very hot and spiced shrimp cooked with potatoes and a touch of vinegar</dd>
			<dt><b>Shrimp Jalfrezi</b><span class="price">$15.95</span></dt>
			<dd>Shrimp cooked in thick sauce with cauliflower, onions, tomatoes and green peppers</dd>
			<dt><b>Shrimp Tandoori Masala</b><span class="price">$16.95</span></dt>
			<dd>Tandoori shrimp cooked in golden brown masala sauce</dd>
			<dt><b>Seafood Curry</b><span class="price">$15.95</span></dt>
			<dd>Very hot spiced fish, shrimp, scallop and mussels cooked with potatoes and a touch of vinegar</dd>
			<dt><b>Seafood Tikka Masala</b><span class="price">$17.95</span></dt>
			<dd>Fish, shrimp, scallop and mussels cooked with very mild tomato and cream</dd>
		</dl>
	</div>
</div>