<div id="Vegetarian" class="tab-pane fade">
	<img src="~/Images/vegetarian.png" alt="vegetarian dish" class="col-xs-4 rcorners1" />

	<div class="col-xs-6">
		<p class="section">Vegetarian Dishes</p>
		<p class="subsect">(All entrees are served with saffron basmati rice)</p>
		<dl class="no-bullets">
			<dt><b>Aloo Gobi Vegan</b><span class="price">$9.95</span></dt>
			<dd>Mildly spiced potato and cauliflower</dd>
			<dt><b>Aloo Matter Vegan</b><span class="price">$9.95</span></dt>
			<dd>Green peas and Potatoes cooked in a thick curry sauce</dd>
			<dt><b>Aloo Palak Vegan</b><span class="price">$9.95</span></dt>
			<dd>Potatoes cooked with spinach in a special blend of spices</dd>
			<dt><b>Aloo Chole Vegan</b><span class="price">$9.95</span></dt>
			<dd>Chick peas with potatoes cooked</dd>
			<dt><b>Baingan Bharta</b><span class="price">$10.95</span></dt>
			<dd>Eggplant baked in an oven and finished with onion, ginger and tomatoes</dd>
			<dt><b>Baigan Masala Vegan</b><span class="price">$10.95</span></dt>
			<dd>Small eggplant stuffed with chef special spices</dd>
			<dt><b>Bhindi Masala Vegan</b><span class="price">$10.95</span></dt>
			<dd>Fresh okra sauteed with onions and spices</dd>
			<dt><b>Chana Masala Vegan</b><span class="price">$9.95</span></dt>
			<dd>Chick peas cooked in a spicy thick gravy topped with chopped onions, tomato and cilantro</dd>
			<dt><b>Dal Makhani</b><span class="price">$8.95</span></dt>
			<dd>A mix of lentils with kidney beans, flavored with ginger and cilantro</dd>
			<dt><b>Dal Saag Vegan</b><span class="price">$10.95</span></dt>
			<dd>Chick peas lentil with spinach cooked in special blend of Indian spices</dd>
			<dt><b>Mattar Paneer</b><span class="price">$10.95</span></dt>
			<dd>A Chef's original vegetarian delight of peas and mushrooms cooked in a mild and rich gravy</dd>
			<dt><b>Malai Kofta</b><span class="price">$10.95</span></dt>
			<dd>Vegetable dumpling in a mild creamy sauce with nuts and raisins</dd>
			<dt><b>Navrattan Korma</b><span class="price">$10.95</span></dt>
			<dd>Nine vegetables cooked with nine spices, nuts and cream sauce</dd>
			<dt><b>Saag Paneer</b><span class="price">$10.95</span></dt>
			<dd>A delicious combination of homemade cheese and spinach</dd>
			<dt><b>Shashi Mughlai Paneer</b><span class="price">$11.95</span></dt>
			<dd>Homemade cheese simmered in a tangy tomato sauce with nuts and raisins</dd>
			<dt><b>Vegetable Patia Vegan</b><span class="price">$10.95</span></dt>
			<dd>Mixed Vegetables cooked in mango and blend of Indian spices</dd>
		</dl>
	</div>
</div>